[submodule "nerfstudio"]
	path = nerfstudio
	url = git@github.com:ChenYutongTHU/nerfstudio_splatformer.git
[submodule "pycolmap"]
	path = pycolmap
	url = https://github.com/Rickyeeeeee/pycolmap.git
[submodule "gsplat"]
	path = gsplat
	url = https://github.com/Rickyeeeeee/gsplat-splatformer.git
